* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue Regular", Arial, Tahoma, sans-serif;
}

.page {
  width: 1215px;
  height: 1064px;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}

.top {
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 0;
  height: 36px;
  width: 100%;
  background-color: #074d8a;
}
.top ul {
  display: inline-block;
  position: relative;
  padding-right: 15px;
}
.top li{
  position: relative;
  list-style: none;
  display: inline-block;
  color: #60b5ed;
  height: 100%;
}
.menu {
  border-right: 1px solid #56a2dc;
}
.menu a {
  display: inline-block;
  height: auto;
  padding: 9px 15px;
  text-decoration: none;
  color: #60b5ed;
}
.menu a:hover {
  background-color: #4eabda;
  color: #ffffff;
}
.option a {
  position: relative;
  display: inline-block;
  height: auto;
  text-decoration: none;
  text-align: left;
  top: 0;
  color: #ffffff;
  padding: 9px 0;
}
.option li {
  padding: 0 15px;
  color: #ffffff;
}
.option li:first-child {
  padding-left: 40px;
}
.option li:hover {
  background: linear-gradient(#51b1dc, #2e7ac4);
  border-left: 1px solid #51b1dc;
  border-bottom: 1px solid #51b1dc;
  border-right: 1px solid #51b1dc;
}
.option li:nth-child(2):hover a:hover {
  text-decoration: underline;
}
.option img {
  float: left;
  position: absolute;
  height: 20px;
  margin-left:  -30px;
}
.input_form {
  position: relative;
  top: 250px;
  width: 560px;
  height: 610px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.up {
  width: 100%;
  height: 60px;
  text-align: center;
  border-bottom: 1px solid #a4b193;
  font-size: 24px;
  font-style: 900;
  color: #fff;
  line-height: 60px;
}
.log_fb {
  width: 100%;
  height: 110px;
  text-align: center;
  position: relative;
}
.log_fb a {
  display: inline-block;
  text-decoration: none;
  margin: 30px 0px 10px 0px;
}
.log_fb a .f {
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  width: 38px;
  height: 35px;
  background: linear-gradient(#3e5895,#2d4078);
  border-top: 1px solid #7789b9;
  border-right: 1px solid #213c71;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  float: left;
  display: inline-block;
}
.f span {
  display: inline-block;
  padding: 2px 0 0 4px;
  }
.log_fb a .click_in {
  font-size: 14px;
  font-weight: bold;
  word-spacing: 5px;
  letter-spacing: 1px;
  color: #fff;
  width: 237px;
  height: 35px;
  background: linear-gradient(#3e5895,#2d4078);
  border-top: 1px solid #7789b9;
  border-left: 1px solid #4c68a9;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  float: left;
  }
  .click_in p {
    display: inline-block;
    padding-top: 7px;
  }

.click_in span {
  font-weight: normal;
}
.lines {
  display: inline-block;
  width: 123px;
  border-top: 2px solid #666666;
  border-bottom: 2px solid #000;
  margin-bottom: 3px;
}

.ou span {
  font-size: 14px;
  color: #999999;
}

.info {
  text-align: center;
  margin: 0 auto;
  width: 310px;
}
.personal_info {
  width: 275px;
  margin: 0 auto;
  font-family: "Helvetica Neue Regular", Arial, Tahoma, sans-serif;
}
.personalised input {
  width: 233px;
  height: 35px;
  color: #fff;
  background: #101010;
  border: 1px solid #101010;
  border-bottom: 1px solid #4a4948;
  margin: 10px 0;
  padding: 0 20px;
}
.personalised input:hover {
  background-color: #1b5288;
  border: 1px solid #689bcc;
  /*border-bottom: 1px solid #689bcc;*/
  box-shadow:0 0 15px #2f7bc5;
  background: linear-gradient(#1e4b76, #2f7bc5);
}
input[placeholder] {
  font-family: "Helvetica Neue Regular", Arial, Tahoma, sans-serif;
}
.mark {
  color: #fff;
  font-size: 14px;
  line-height: 35px;
  text-align: left;
}
.click {
  text-align: center;
}
.click input:hover {
  cursor: pointer;
}
.click input {
  width: 150px;
  height: 35px;
  background: linear-gradient(#51b1dc, #2e7ac4);
  border-radius: 2px;
  border: 1px solid #51b1dc;
  color: #fff;
  margin: 7px auto;
  font-family: "Helvetica Neue Regular", Arial, Tahoma, sans-serif;
}
.info span {
  color: #ccc;
  font-size: 11px;
  word-spacing: 0.3px;

}
